.titleSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: calc(10px + 5vmin);
  color: #282c34;
  text-align: center;
  margin-top: 5vh;
  font-weight: 600;
  max-width: 700px;
  margin-right: 15vw;
  margin-left: 15vw;

  @media (max-width: 768px) {
    font-size: calc(10px + 5vmin);
  }
}
